@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');
body {
    font-family: 'Sofia', cursive;
}

#helo {
  background-color: #0093FF;
  height:500px;
  padding:5%;
  padding-top: 100px;
  padding-left: 100px;
}

#form-block{
    padding: 20%;
}
.marg {
	margin:15px;
	color: black;
}
.size {
	margin-top: 20px;
	width: 280px;
}

.margbtn {
	margin: 20px 112px;
}